[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pytest = "*"
pandas = "*"
sktime = "*"

[dev-packages]
# own
# cvppap = {editable = true, path = "."}

[requires]
python_version = "3.8"
